/* ===========================
   RESPONSIVE - KONTAPRO
=========================== */

@media (max-width:768px){

.auth-card{
    width:90%;
    padding:20px;
}

.title{
    font-size:28px;
}

.logo{
    font-size:50px;
}

.input-group input{
    font-size:16px;
}

.btn-login{
    font-size:16px;
}

}

@media (max-width:480px){

.auth-card{
    width:95%;
    border-radius:20px;
    padding:18px;
}

.title{
    font-size:24px;
}

.slogan{
    font-size:14px;
}

.logo{
    font-size:42px;
}

}
