.options{
display:flex;
justify-content:space-between;
align-items:center;
margin:15px 0;
font-size:14px;
}

.options label{
display:flex;
align-items:center;
gap:8px;
cursor:pointer;
}

.fingerprint{
margin-top:20px;
padding:12px;
border:2px dashed #1B8A4A;
border-radius:12px;
text-align:center;
font-weight:600;
color:#1B8A4A;
cursor:pointer;
transition:.3s;
}

.fingerprint:hover{
background:#1B8A4A;
color:white;
}

.links{
margin-top:20px;
text-align:center;
}

.links a{
display:block;
margin:12px 0;
text-decoration:none;
color:#0A5C30;
font-weight:600;
}

.separator{
display:flex;
align-items:center;
margin:15px 0;
}

.separator::before,
.separator::after{
content:"";
flex:1;
height:1px;
background:#ddd;
}

.separator span{
margin:0 10px;
color:#777;
font-size:13px;
}
